p::first-letter{
    color: rgb(222, 18, 18);
    font-size: 55px;
}
p::first-line{
    color: rgb(42, 210, 30);
}
p::after{
    content: "THE  END";
}
p::before{ content: " SEASONS";

}
p::selection{ color: rgb(8, 28, 250);

}